/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Global Styles */
body {
  background: #242424;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.6;
}

.max-width {
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}

/* Navigation Styles */
nav {
  position: fixed;
  z-index: 1;
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: #e52b50;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #e52b50;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #e52b50;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 991px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
    z-index: 999;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: white;
  }
}

span {
  color: #e52b50;
}

/* Home Section Styles */
.home {
  display: flex;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.home .max-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .home-content {
  flex: 1;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #e52b50;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #e52b50;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.home .home-content a:hover {
  color: #e52b50;
  background: none;
}

h2 {
  color: #e52b50;
  margin: 15px 0px 15px;
  font-size: 100px;
}

h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

h4 {
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}

.image {
  width: 30%;
  height: 80%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.4em;
}

.image img {
  height: 300px;
  width: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.image img:hover {
  transform: scale(1.1);
}

/* About Section Styles */
.about .title {
  color: #e52b50;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.about p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  padding-left: 5%;
  padding-right: 8%;
}

/* Skills Section Styles */
.skills {
  padding: 30px 0; /* Ridotto il padding */
  background-color: #f7f7f7;
  text-align: center;
}

.skills .title {
  color: #e52b50;
  font-size: 36px; /* Dimensione del titolo aggiornata */
  font-weight: 600;
  margin-bottom: 30px;
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skills .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.skills .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.skills .box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.skills .box p {
  color: #888;
  font-size: 16px;
  line-height: 24px;
}

/* Portfolio Section Styles */
.portfolio {
  padding: 50px 0; /* Ridotto il padding */
  background-color: #f0f0f0;
  text-align: center;
}

.portfolio .title {
  color: #e52b50;
  font-size: 36px; /* Dimensione del titolo aggiornata */
  font-weight: 600;
  margin-bottom: 30px;
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center; /* Centra i box orizzontalmente */
}

.portfolio .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%; 
}

.portfolio .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.portfolio .box img {
  width: 100%; 
  height: auto; 
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
}

.portfolio .box p {
  margin-top: 10px;
  color: #444;
}

/* Footer Section Styles */
footer {
  background: #1b1b1b;
  color: white;
  padding: 15px 23px;
  text-align: center;
}

footer span a {
  color: white;
}

footer span a:hover {
  text-decoration: underline;
}

ul.social-network {
  list-style: none;
  display: inline;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoGithub:hover {
  background-color: #1b1b1b;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoGithub:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}
