/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Global Styles */
body {
  background: #242424;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.6;
}

.max-width {
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}
span {
  color: #e52b50;
}
h2 {
  color: #e52b50;
  margin: 15px 0px 15px;
  font-size: 100px;
}

h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

h4 {
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}

.image {
  width: 30%;
  height: 80%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.4em;
}

.image img {
  height: 300px;
  width: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.image img:hover {
  transform: scale(1.1);
}
